body, h1, p {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /*Background image set up*/
    background-image: url('/coal_ice/img/background.png');
    /* background-image: url('/img/background.png'); */
    background-size: cover; /* to cover entire screen*/
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; /* make sure it won't scroll around */
    color: white;
}
.header-text {
    text-align: left;
    padding: 50px; 
    position: absolute;
    top: 0;
    left: 0;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: 800; /*Extra bold */
}

.date-range {
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 200; /* Extra light */
}

.container {
    position: relative;
    height: 100vh; /* make sure it holds entire screen */
}

.contact-info {
    position: absolute;
    bottom: 100px; /* distance to bottom */
    right: 100px; /* distance to right */
    text-align: right;
}

.contact-info p {
    margin: 5px 0; /* distance between lines */
    font-size: 18px;
    font-weight: 300; /* light */
}

.slider-container {
    position: absolute;
    width: 80%;
    left: 10%; /* Center the slider horizontally */
    bottom: 50px; /* Position from the bottom */
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

/* For About Page*/
h2 {
    font-size: 56px;
    margin-bottom: 60px;
    font-weight: 800; /* extra bold */
}

.about-content{
        font-size: 23px;
        margin-bottom: 60px;
        font-weight: 300; /* light */
        line-height: 35px;
}

/* For Artist Page*/
.content-text {
    margin-top: 150px; /* To make sure the text is below header text */
    display: flex; 
}

h3 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 800; /* extra bold */
}

.artist-content{
    flex: 1; /* make the p tags align side by side */
    margin-left: 50px; 
    margin-right: 50px; 
    font-size: 23px;
    font-weight: 300; /* light */
    line-height: 32px;
}

/* For Image Contents*/
.image-container {
    position: relative;
    overflow: hidden; /* hide the overflow image */
    width: 100vw; 
    height: 100vh; 
}

.image-container img {
    width: 100%; 
    height: auto; 
    min-height: 100%; 
    position: absolute; 
    top: 0; /* align image's top with window's top */
    left: 50%; /* put image at the middle */
    transform: translateX(-50%); 
    transition: filter 0.5s ease;
}

.image-text {
    position: absolute; 
    bottom: 12%;
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    padding: 0 20px; 
    box-sizing: border-box; 
}

.image-text-content {
    text-align: left;
    max-width: 600px; 
    margin: 0 auto; 
    font-size: 20px;
    font-weight: 600; /* semi bold */
    line-height: 25px;
}

